%h1= @event.title
%p
  %strong Title :
  = @event.title
%p
  %strong Description :
  = @event.announcement.html_safe
%p
  %strong Datum odrzavanja:
  = @event.scheduled_at
%p
  %strong Aktivan ivent:
  = @event.is_active

%hr/
= link_to 'Back', events_path
