.meetup
  %div.subtitle Što je meetup?
  %p
    Meetup je okupljanje developera (hr. razvojnika) koje se sastoji od druženja, predavanja ... and much much more?
  %p
    Teme su vezane uz razvoj web i mobilnih aplikacija u modernim tehnologijama sa krvavog ruba. Ako se palite na hajp termove poput: Rails, Django, Node, Backbone, Mongo, iOS, Android, Sencha Touch, Cofeescript ... bit će vam zanimljivo i na Code at Six druženjima.
  %p
    Ovim okupljanjem želimo širiti development community u Hrvatskoj, povezivati development profesionalce i entuzijaste te potaknuti razmjenu znanja, iskustava i prije spomenute pive.
  %p
    Također, preduvjet za sudjelovanje je da **mrzite** SVN.
  %p
    Novo mjesto održavanja je u prostorijama HGK na Novoj Cesti 7, Zagreb.
    = link_to 'G-Mapa', 'http://maps.google.com/maps?q=Nova+cesta+7+10000,+Zagreb,+Croatia&hl=en&sll=45.807428,15.954014&sspn=0.005108,0.011319&t=v&hnear=Nova+cesta+7,+10000,+Zagreb,+Croatia&z=16'


-if @meetup && !@meetup.report.present?
  .submissions#prijava
    =render :partial => 'pages/submission', :locals => { :event => @meetup }
    .clearboth

  .talks
    %div.subtitle O čemu ćemo pričati?
    = markdown @meetup.announcement

  .participants
    =render :partial => 'pages/participants', :locals => { :event => @meetup }
-else @meetup
  .report
    = markdown @meetup.report
.sponsors
  = render :partial => 'layouts/sponsors'
.follow
  = render :partial => 'layouts/follow'