%html
  %head
    %title Code at six
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags
  %body
    .banner
      = link_to image_tag('banner2.png'), '/'
      = link_to image_tag('fork_me.png'), "#{GithubRepo}", :id => "fork_me"
    .navigation
      = render :partial => 'layouts/navigation'
    .content
      = yield
    .twitter
      = render :partial => 'layouts/twitter'
